<a href="https://colab.research.google.com/github/itimes-digital/machine-learning/blob/main/classificacao_titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
from sklearn import (
    ensemble,
    preprocessing,
    tree,
)

In [3]:
from sklearn.metrics import (
    auc,
    confusion_matrix,
    roc_auc_score,
    roc_curve,
)

In [6]:
from sklearn.model_selection import (
    train_test_split,
    StratifiedKFold,
)

In [7]:
from yellowbrick.classifier import (
    ConfusionMatrix,
    ROCAUC,
)

In [8]:
from yellowbrick.model_selection import (
    LearningCurve,
)

In [9]:
url = (
    "http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls"
)

df = pd.read_excel(url);
orig_df = df

In [10]:
orig_df.head()

   pclass  survived  ...   body                        home.dest
0       1         1  ...    NaN                     St Louis, MO
1       1         1  ...    NaN  Montreal, PQ / Chesterville, ON
2       1         0  ...    NaN  Montreal, PQ / Chesterville, ON
3       1         0  ...  135.0  Montreal, PQ / Chesterville, ON
4       1         0  ...    NaN  Montreal, PQ / Chesterville, ON

[5 rows x 14 columns]

In [11]:
orig_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB

In [20]:
orig_df.dtypes

pclass         int64
survived       int64
name          object
sex           object
age          float64
sibsp          int64
parch          int64
ticket        object
fare         float64
cabin         object
embarked      object
boat          object
body         float64
home.dest     object
dtype: object

In [14]:
orig_df['pclass'].value_counts()

3    709
1    323
2    277
Name: pclass, dtype: int64

In [15]:
orig_df['survived'].value_counts()

0    809
1    500
Name: survived, dtype: int64

In [16]:
orig_df.query('pclass == 1')['survived'].value_counts()

1    200
0    123
Name: survived, dtype: int64

In [17]:
orig_df.query('pclass == 2')['survived'].value_counts()

0    158
1    119
Name: survived, dtype: int64

In [18]:
orig_df.query('pclass == 3')['survived'].value_counts()

0    528
1    181
Name: survived, dtype: int64

In [27]:
pd.profile_report()

AttributeError: ignored

In [23]:
from pandas_profiling import ProfileReport
ProfileReport(df)

TypeError: ignored